#modulesDiv
{
    color:#000000;
    width:600px; 
    /*min-width:800px;*/
    text-align:center;
    margin:0 auto;
    cursor:pointer;
}

.module
{
    width:200px;
    height:220px; 
    float:left;
    
}

.moduleLink
{
    margin-top:-50px; 
    text-align:center;
}

.moduleLink a,.moduleLink a:hover, .moduleLink a:active,  .moduleLink a:link,  .moduleLink a:visited
{
    font-size:14px;
    font-weight:bold;
    color:#148B8B;
    text-decoration:none;
    background: none;
}

