/* Start Index Header */
*{
    font-family:Microsoft YaHei,Arial;    
}
#menu
{
   
    width: 100%;
    /*min-width:1150px;*/
    text-align: center;

}
/*#header
{
    height:70px;
    width: 100%;
    min-width:1150px;  
    background: white;
    z-index: -1; 
    overflow:hidden;
}*/
.site_name{
    /*width:25%;*/
    background-color: inherit;
    background-image:url(/Images/header/uih_logo_p.png);
    background-repeat:no-repeat;
    background-position-x:left;
    background-position-y:center;
    font-size:14pt;
    color: #00485e;
    font-weight:bold;
    letter-spacing:3px;
    line-height:28px;
    margin-left:10px;
    
    padding-left:25px;
    /*padding-top:5px;*/
    float:left;
}



.site_message
{
    float:right;
    margin:0 10px;
    line-height:28px;
    font-size:10pt;    
    color: #00485E;
    background-color: inherit; 
    text-align:center;
    color: #00485E;
    /*padding-top:8px;*/

}

.site_message form
{
   margin:0px;
   display: inline;
}

/*.site_message a
{
    color: #00485E;
    outline: none;
    text-decoration: none;
}*/
/* End of Index Header */

/* Start of Menu  */
.nav_bar
{
    text-align: center;
   
    /*margin:0 auto;*/
}


.Menu_Link_Actived
{
    background-color: #ECF0F0;
    cursor: default; 
}
/* End of Menu  */

/* Start of Content */
#body
{
   
    min-width:960px;
    margin: 0 auto;
    min-height:760px;
    padding-top:16px;
    height:80%;
}

.editor-label, .editor-field, .display-label, .display-field
{
    margin-bottom:5px;
}

.editor-label, .display-label
{
   font-weight:bold;
}

.validation-summary-errors
{
    color: #f00;    
}

.message-success
{
    color: #0f0;
}

.clear{ clear: both;}

.margin-left-20px{ margin-left:20px;}

#showMessage
{
    display:none;
    /*margin-top:-860px;  */
    float:right;
    height: 40px; 
    width: 40px; 
    border: 1px solid #A4A4A4;
    -khtml-opacity: 0.9;
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	z-index:302;
}

#showMessage #showMessageTilte
{
    height:20px;
    line-height:20px;
    width:100%;
    font-weight:bold;
    text-align:center;
    background-color:#148B8B;
}

#showMessage #showMessageContent
{
      height:120px;   
      width:100%;
      background-color:#FCFCFD;
}

#showMessage #showMessageDetail
{
      height:15px;   
      width:100%;
      text-align:right;
      line-height:10px;
      margin-right:10px;
      background-color:#FCFCFD;
}

#showMessage #showMessageDetail a
{
     text-decoration:none;
}
/* End of Content */

/* Start of Footer */
#footer
{
    min-height: 90px;
    color:black;
    background-color: inherit;
    text-align:center;
    font:10.5pt;
    /*margin-top:42px;*/
}

#footer div
{
   margin-top:10px;  
}
/* End of Footer */

/* Start of Dialog */
#confirm_dialog
{
    display:none;
    width: 100px;
    height:100px;
    z-index: 300;
    margin:0 auto;
    border:1px solid red;
    background-color:black;
}
/* End of Dialog */

.div-information {
    font-size: 8.5pt;
    font-family:Microsoft YaHei,Arial;
    color: #0000FF;
    padding: 5px 10px;
    font-style: italic;
 }
 .div-work-order-info {
    margin-top:5px;
    margin-left:8px;
    font-weight: bold;
 }
 
 /*Start of Search condition*/
 .search-condition-item {
     float: left;
     margin-left:10px;
     margin-top:10px;
     height:24px;
 }
 
 .search-condition-item-separator {
    float: left;
    height: 24px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    margin-left:10px;
    margin-top:10px;
}
.search-name {
    font-weight: bolder;
}
.left50px {
     margin-left:50px;
}
.left100px {
     margin-left:100px;
}
/*End of Search condition*/

.UploadifyButtonWrapper { 
    position:relative; 
}
.UploadifyButtonWrapper a
{
    position:absolute;top:0; left:0; width:80px;
    /*font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;*/
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('../../../Scripts/uploadify/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
/*end of uploadify wrapper*/

div.note
{
    color:Red;    
}