/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
*{
    font-family:'Microsoft YaHei'; 
}

.login_msg {
    margin-right:50px;
}
.login_msg ul li{
    display: inline;
    margin:0px 10px;
}
.login_msg ul li a {
    font-size:larger
}