<?xml version="1.0" encoding="utf-8" ?>
  <log4net threshold="ALL">
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="d:\logs4HandyWork\default.log" />
      <appendToFile value="true" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="20"/>
      <!--最大文件大小-->
      <maximumFileSize value="4MB"/>
      <!--按照文件的大小进行变换日志文件-->
      <rollingStyle value="Size" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--Handy.Log4net\Layout\PatternLayout.cs-->
        <conversionPattern value="%date 线程ID:[%thread] %-5level - %class:%line %M - %message %newline" />
      </layout>
    </appender>
    
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="d:\logs4HandyWork\error.log" />
      <appendToFile value="true" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="20"/>
      <!--最大文件大小-->
      <maximumFileSize value="4MB"/>
      <!--按照文件的大小进行变换日志文件-->
      <rollingStyle value="Size" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--Handy.Log4net\Layout\PatternLayout.cs-->
        <conversionPattern value="%date 线程ID:[%thread] %-5level - %class:%line %M - %message %newline" />
      </layout>
    </appender>
    
    <!--定义日志的输出媒介-->
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="ErrorLog" additivity="false">
         <level value="DEBUG"/>
         <appender-ref ref="ErrorAppender"/>
   </logger>
  </log4net>