<!-- 按钮触发模态框 -->
<button id="xxx" class="btn btn-primary btn-lg" >开始演示模态框</button>
@section scripts
{
<script>
    (function ($) {
        $("#xxx").click(function () {
            var modal = new ModalWindow();
            modal.setMessage("okay");
            modal.open();
        });
    })(jQuery);
</script>
}
