<!-- 按钮触发模态框 -->
<button id="xxx" class="btn btn-primary btn-lg" >模态框1</button>
@section scripts
{
<script>
    (function ($) {
        var modal = new hy_modal();
        modal.setHeaderHtml("模态框演示")
             .setBodyHtml("<button type=\"button\" class=\"btn btn-default btn-lg\"><span class=\"glyphicon glyphicon-user\"></span>User</button>")
             .addButton("提交", function () { console.info("提交"); })
             .addButton("关闭");
        modal.show_bs_modal = function () {
            return true;
        }
        $("#xxx").click(function () {
            modal.show();
        });
    })(jQuery);
</script>
}
